<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>基本会员-基本信息</title>
    <link rel="stylesheet" href="css/public.css"/>
    <link rel="stylesheet" href="css/page.css"/>
    <link rel="stylesheet" href="css/member.css"/>
    <link rel="stylesheet" href="css/banner.css"/>
    <link rel="stylesheet" href="css/tab.css"/>
    <link rel="stylesheet" href="css/table.css"/>
    <link rel="stylesheet" href="css/select.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/font-awesome-ie7.css">

    <!--[if lt IE 10]>
    <script src="js/html5shiv.min.js"></script>
    <![endif]-->
</head>
<body>

<div id="app">
    <!--网站顶部-->
    <div class="top">
        <div class="container">
            <topnav></topnav>
            <div class="top-right">
                <ul>
                    <li><a href="javascript:;">帮助中心&nbsp;&nbsp;|</a></li>
                    <li><a href="javascript:;">我的关注&nbsp;&nbsp;|</a></li>
                    <li><a href="javascript:;">联系客服&nbsp;&nbsp;|</a></li>
                    <li><a href="javascript:;">网站导航&nbsp;&nbsp;|</a></li>
                    <li><a href="javascript:;">客服热线：<span>400-888-8888</span>&nbsp;&nbsp;|</a></li>
                </ul>
                <div class="attention">
                    <p>关注我们：</p>
                    <a class="weixin" href="javascript:;">
                        <img src="images/top-icon01.png" alt=""/>
                        <div class="weixin-erweima">
                            <i></i>
                            <img src="images/erweima.png" alt=""/>
                        </div>
                    </a>
                    <a class="xl" href="javascript:;"><img src="images/top-icon02.png" alt=""/></a>
                    <a class="tx" href="javascript:;"><img src="images/top-icon03.png" alt=""/></a>
                    <span>|</span>
                </div>
                <a class="version" href="javascript:;">English</a>
            </div>
        </div>
    </div>
    <!--网站头部-->
    <header>
        <div class="container">
            <a href="javascript:;" class="logo">
                <img src="images/logo.png" alt=""/>
            </a>
            <div class="search">
                <div class="search-form">
                    <div class="input"><input type="text"/></div>
                    <div class="button">
                        <button type="submit"><i class="fa fa-search"></i></button>
                    </div>
                </div>
                <div class="search-list">
                    <a class="selected" href="javascript:;">A级牛肉</a>
                    <span>|</span>
                    <a href="javascript:;">进口猪肉</a>
                    <span>|</span>
                    <a href="javascript:;">A级排骨肉</a>
                    <span>|</span>
                    <a href="javascript:;">A级牛肉</a>
                    <span>|</span>
                    <a href="javascript:;">进口猪肉</a>
                    <span>|</span>
                    <a class="selected" href="javascript:;">A级排骨肉</a>
                </div>
            </div>
            <div class="cart">购物车中<span>0</span>件</div>
        </div>
    </header>
    <!--网站导航-->
    <nav>
        <div class="container">
            <dl>
                <dt>
                    <a class="pro-all" href="javascript:;">商品全部分类&nbsp;&nbsp;<i class="fa fa-sort-desc fa-caret-up"></i></a>
                    <ul>
                        <li class="pro-sort">
                            <div class="sort-first">
                                <i class="fa fa-angle-right"></i>
                                <a class="tit" href="">水产海鲜类</a>
                                <div class="con">
                                    <a href="">鱼类</a>
                                    <a href="">贝类</a>
                                    <a href="">虾蟹类</a>
                                </div>
                            </div>
                            <div class="sort-second">
                                <div class="second-list">
                                    <a class="second-tit" href="">鱼类<i class="fa fa-angle-right"></i></a>
                                    <div class="second-con">
                                        <span>|</span><a href="">三文鱼</a><span>|</span><a href="">银鳕鱼</a><span>|</span><a
                                            href="">鳗鱼</a><span>|</span><a href="">金枪鱼</a><span>|</span><a
                                            href="">鲍鱼</a><span>|</span><a href="">带鱼</a><span>|</span><a
                                            href="">秋刀鱼</a><span>|</span><a href="">多春鱼</a><span>|</span><a
                                            href="">黄花鱼</a><span>|</span><a href="">龙利鱼</a><span>|</span><a
                                            href="">三文鱼</a><span>|</span><a href="">银鳕鱼</a><span>|</span><a
                                            href="">鳗鱼</a><span>|</span><a href="">金枪鱼</a><span>|</span><a
                                            href="">鲍鱼</a><span>|</span><a href="">带鱼</a><span>|</span><a
                                            href="">秋刀鱼</a>
                                    </div>
                                </div>
                                <div class="second-list">
                                    <a class="second-tit" href="">贝类<i class="fa fa-angle-right"></i></a>
                                    <div class="second-con">
                                        <span>|</span><a href="">北极贝</a><span>|</span><a href="">青口贝</a><span>|</span><a
                                            href="">扇贝</a>
                                    </div>
                                </div>
                                <div class="second-list">
                                    <a class="second-tit" href="">虾蟹类<i class="fa fa-angle-right"></i></a>
                                    <div class="second-con">
                                        <span>|</span><a href="">红虾</a><span>|</span><a href="">基围虾</a><span>|</span><a
                                            href="">波士顿龙虾</a><span>|</span><a href="">海虎虾</a><span>|</span><a href="">大闸蟹</a><span>|</span><a
                                            href="">帝王蟹</a><span>|</span><a href="">阿拉斯加蟹脚</a><span>|</span><a href="">雪蟹</a>
                                    </div>
                                </div>
                                <a class="second-add" href=""><img src="images/sort-add01.jpg" alt=""/></a>
                            </div>
                        </li>
                        <li class="pro-sort">
                            <div class="sort-first">
                                <i class="fa fa-angle-right"></i>
                                <a class="tit" href="">禽类</a>
                                <div class="con">
                                    <a href="">猪</a>
                                    <a href="">牛</a>
                                    <a href="">羊</a>
                                    <a href="">鸡</a>
                                    <a href="">鸭</a>
                                </div>
                            </div>
                            <div class="sort-second">
                                <div class="second-list">
                                    <a class="second-tit" href="">鱼类<i class="fa fa-angle-right"></i></a>
                                    <div class="second-con">
                                        <span>|</span><a href="">三文鱼</a><span>|</span><a href="">银鳕鱼</a><span>|</span><a
                                            href="">鳗鱼</a><span>|</span><a href="">金枪鱼</a><span>|</span><a
                                            href="">鲍鱼</a><span>|</span><a href="">带鱼</a><span>|</span><a
                                            href="">秋刀鱼</a><span>|</span><a href="">多春鱼</a><span>|</span><a
                                            href="">黄花鱼</a><span>|</span><a href="">龙利鱼</a><span>|</span><a
                                            href="">三文鱼</a><span>|</span><a href="">银鳕鱼</a><span>|</span><a
                                            href="">鳗鱼</a><span>|</span><a href="">金枪鱼</a><span>|</span><a
                                            href="">鲍鱼</a><span>|</span><a href="">带鱼</a><span>|</span><a
                                            href="">秋刀鱼</a>
                                    </div>
                                </div>
                                <div class="second-list">
                                    <a class="second-tit" href="">贝类<i class="fa fa-angle-right"></i></a>
                                    <div class="second-con">
                                        <span>|</span><a href="">北极贝</a><span>|</span><a href="">青口贝</a><span>|</span><a
                                            href="">扇贝</a>
                                    </div>
                                </div>
                                <div class="second-list">
                                    <a class="second-tit" href="">虾蟹类<i class="fa fa-angle-right"></i></a>
                                    <div class="second-con">
                                        <span>|</span><a href="">红虾</a><span>|</span><a href="">基围虾</a><span>|</span><a
                                            href="">波士顿龙虾</a><span>|</span><a href="">海虎虾</a><span>|</span><a href="">大闸蟹</a><span>|</span><a
                                            href="">帝王蟹</a><span>|</span><a href="">阿拉斯加蟹脚</a><span>|</span><a href="">雪蟹</a>
                                    </div>
                                </div>
                                <a class="second-add" href=""><img src="images/sort-add01.jpg" alt=""/></a>
                            </div>
                        </li>
                        <li class="pro-sort">
                            <div class="sort-first">
                                <i class="fa fa-angle-right"></i>
                                <a class="tit" href="">粮油副食类</a>
                                <div class="con">
                                    <a href="">大米类</a>
                                    <a href="">食用油类</a>
                                    <a href="">杂粮类</a>
                                </div>
                            </div>
                            <div class="sort-second">
                                <div class="second-list">
                                    <a class="second-tit" href="">鱼类<i class="fa fa-angle-right"></i></a>
                                    <div class="second-con">
                                        <span>|</span><a href="">三文鱼</a><span>|</span><a href="">银鳕鱼</a><span>|</span><a
                                            href="">鳗鱼</a><span>|</span><a href="">金枪鱼</a><span>|</span><a
                                            href="">鲍鱼</a><span>|</span><a href="">带鱼</a><span>|</span><a
                                            href="">秋刀鱼</a><span>|</span><a href="">多春鱼</a><span>|</span><a
                                            href="">黄花鱼</a><span>|</span><a href="">龙利鱼</a><span>|</span><a
                                            href="">三文鱼</a><span>|</span><a href="">银鳕鱼</a><span>|</span><a
                                            href="">鳗鱼</a><span>|</span><a href="">金枪鱼</a><span>|</span><a
                                            href="">鲍鱼</a><span>|</span><a href="">带鱼</a><span>|</span><a
                                            href="">秋刀鱼</a>
                                    </div>
                                </div>
                                <div class="second-list">
                                    <a class="second-tit" href="">贝类<i class="fa fa-angle-right"></i></a>
                                    <div class="second-con">
                                        <span>|</span><a href="">北极贝</a><span>|</span><a href="">青口贝</a><span>|</span><a
                                            href="">扇贝</a>
                                    </div>
                                </div>
                                <div class="second-list">
                                    <a class="second-tit" href="">虾蟹类<i class="fa fa-angle-right"></i></a>
                                    <div class="second-con">
                                        <span>|</span><a href="">红虾</a><span>|</span><a href="">基围虾</a><span>|</span><a
                                            href="">波士顿龙虾</a><span>|</span><a href="">海虎虾</a><span>|</span><a href="">大闸蟹</a><span>|</span><a
                                            href="">帝王蟹</a><span>|</span><a href="">阿拉斯加蟹脚</a><span>|</span><a href="">雪蟹</a>
                                    </div>
                                </div>
                                <a class="second-add" href=""><img src="images/sort-add01.jpg" alt=""/></a>
                            </div>
                        </li>
                        <li class="pro-sort">
                            <div class="sort-first">
                                <i class="fa fa-angle-right"></i>
                                <a class="tit" href="">熟食调理类</a>
                                <div class="con">
                                    <a href="">肉丸类</a>
                                    <a href="">水饺类</a>
                                </div>
                            </div>
                            <div class="sort-second">
                                <div class="second-list">
                                    <a class="second-tit" href="">鱼类<i class="fa fa-angle-right"></i></a>
                                    <div class="second-con">
                                        <span>|</span><a href="">三文鱼</a><span>|</span><a href="">银鳕鱼</a><span>|</span><a
                                            href="">鳗鱼</a><span>|</span><a href="">金枪鱼</a><span>|</span><a
                                            href="">鲍鱼</a><span>|</span><a href="">带鱼</a><span>|</span><a
                                            href="">秋刀鱼</a><span>|</span><a href="">多春鱼</a><span>|</span><a
                                            href="">黄花鱼</a><span>|</span><a href="">龙利鱼</a><span>|</span><a
                                            href="">三文鱼</a><span>|</span><a href="">银鳕鱼</a><span>|</span><a
                                            href="">鳗鱼</a><span>|</span><a href="">金枪鱼</a><span>|</span><a
                                            href="">鲍鱼</a><span>|</span><a href="">带鱼</a><span>|</span><a
                                            href="">秋刀鱼</a>
                                    </div>
                                </div>
                                <div class="second-list">
                                    <a class="second-tit" href="">贝类<i class="fa fa-angle-right"></i></a>
                                    <div class="second-con">
                                        <span>|</span><a href="">北极贝</a><span>|</span><a href="">青口贝</a><span>|</span><a
                                            href="">扇贝</a>
                                    </div>
                                </div>
                                <div class="second-list">
                                    <a class="second-tit" href="">虾蟹类<i class="fa fa-angle-right"></i></a>
                                    <div class="second-con">
                                        <span>|</span><a href="">红虾</a><span>|</span><a href="">基围虾</a><span>|</span><a
                                            href="">波士顿龙虾</a><span>|</span><a href="">海虎虾</a><span>|</span><a href="">大闸蟹</a><span>|</span><a
                                            href="">帝王蟹</a><span>|</span><a href="">阿拉斯加蟹脚</a><span>|</span><a href="">雪蟹</a>
                                    </div>
                                </div>
                                <a class="second-add" href=""><img src="images/sort-add01.jpg" alt=""/></a>
                            </div>
                        </li>
                        <li class="pro-sort">
                            <div class="sort-first">
                                <i class="fa fa-angle-right"></i>
                                <a class="tit" href="">调料类</a>
                                <div class="con">
                                    <a href="">酱料类</a>
                                </div>
                            </div>
                            <div class="sort-second">
                                <div class="second-list">
                                    <a class="second-tit" href="">鱼类<i class="fa fa-angle-right"></i></a>
                                    <div class="second-con">
                                        <span>|</span><a href="">三文鱼</a><span>|</span><a href="">银鳕鱼</a><span>|</span><a
                                            href="">鳗鱼</a><span>|</span><a href="">金枪鱼</a><span>|</span><a
                                            href="">鲍鱼</a><span>|</span><a href="">带鱼</a><span>|</span><a
                                            href="">秋刀鱼</a><span>|</span><a href="">多春鱼</a><span>|</span><a
                                            href="">黄花鱼</a><span>|</span><a href="">龙利鱼</a><span>|</span><a
                                            href="">三文鱼</a><span>|</span><a href="">银鳕鱼</a><span>|</span><a
                                            href="">鳗鱼</a><span>|</span><a href="">金枪鱼</a><span>|</span><a
                                            href="">鲍鱼</a><span>|</span><a href="">带鱼</a><span>|</span><a
                                            href="">秋刀鱼</a>
                                    </div>
                                </div>
                                <div class="second-list">
                                    <a class="second-tit" href="">贝类<i class="fa fa-angle-right"></i></a>
                                    <div class="second-con">
                                        <span>|</span><a href="">北极贝</a><span>|</span><a href="">青口贝</a><span>|</span><a
                                            href="">扇贝</a>
                                    </div>
                                </div>
                                <div class="second-list">
                                    <a class="second-tit" href="">虾蟹类<i class="fa fa-angle-right"></i></a>
                                    <div class="second-con">
                                        <span>|</span><a href="">红虾</a><span>|</span><a href="">基围虾</a><span>|</span><a
                                            href="">波士顿龙虾</a><span>|</span><a href="">海虎虾</a><span>|</span><a href="">大闸蟹</a><span>|</span><a
                                            href="">帝王蟹</a><span>|</span><a href="">阿拉斯加蟹脚</a><span>|</span><a href="">雪蟹</a>
                                    </div>
                                </div>
                                <a class="second-add" href=""><img src="images/sort-add01.jpg" alt=""/></a>
                            </div>
                        </li>
                        <li class="pro-sort">
                            <div class="sort-first">
                                <a class="tit" href="">其他</a>
                            </div>
                            <div class="sort-second">
                                <div class="second-list">
                                    <a class="second-tit" href="">鱼类<i class="fa fa-angle-right"></i></a>
                                    <div class="second-con">
                                        <span>|</span><a href="">三文鱼</a><span>|</span><a href="">银鳕鱼</a><span>|</span><a
                                            href="">鳗鱼</a><span>|</span><a href="">金枪鱼</a><span>|</span><a
                                            href="">鲍鱼</a><span>|</span><a href="">带鱼</a><span>|</span><a
                                            href="">秋刀鱼</a><span>|</span><a href="">多春鱼</a><span>|</span><a
                                            href="">黄花鱼</a><span>|</span><a href="">龙利鱼</a><span>|</span><a
                                            href="">三文鱼</a><span>|</span><a href="">银鳕鱼</a><span>|</span><a
                                            href="">鳗鱼</a><span>|</span><a href="">金枪鱼</a><span>|</span><a
                                            href="">鲍鱼</a><span>|</span><a href="">带鱼</a><span>|</span><a
                                            href="">秋刀鱼</a>
                                    </div>
                                </div>
                                <div class="second-list">
                                    <a class="second-tit" href="">贝类<i class="fa fa-angle-right"></i></a>
                                    <div class="second-con">
                                        <span>|</span><a href="">北极贝</a><span>|</span><a href="">青口贝</a><span>|</span><a
                                            href="">扇贝</a>
                                    </div>
                                </div>
                                <div class="second-list">
                                    <a class="second-tit" href="">虾蟹类<i class="fa fa-angle-right"></i></a>
                                    <div class="second-con">
                                        <span>|</span><a href="">红虾</a><span>|</span><a href="">基围虾</a><span>|</span><a
                                            href="">波士顿龙虾</a><span>|</span><a href="">海虎虾</a><span>|</span><a href="">大闸蟹</a><span>|</span><a
                                            href="">帝王蟹</a><span>|</span><a href="">阿拉斯加蟹脚</a><span>|</span><a href="">雪蟹</a>
                                    </div>
                                </div>
                                <a class="second-add" href=""><img src="images/sort-add01.jpg" alt=""/></a>
                            </div>
                        </li>
                    </ul>
                </dt>
                <dd><a class="selected" href="index.html">首页</a></dd>
                <dd><a href="资源.html">资源</a></dd>
                <dd><a href="采购.html">采购</a></dd>
                <dd><a href="搜索.html">搜索</a></dd>
                <dd><a href="物流.html">物流</a></dd>
                <dd><a href="行情-实时成交价.html">行情</a></dd>
                <dd><a href="积分商城.html">积分商城</a></dd>
                <dd><a href="member-会员俱乐部.html">会员俱乐部</a></dd>
            </dl>
        </div>
    </nav>
    <!-- 内容主体区 -->
    <div class="content-main">
        <div class="container">
            <!-- 面包屑导航 -->
            <div class="bread-crumbs">
                <a href="javascript:;">首页</a>
                <span><i class="fa fa-angle-double-right"></i></span>
                <a href="javascript:;">会员中心</a>
                <span><i class="fa fa-angle-double-right"></i></span>
                <a href="javascript:;" class="selected">基本信息</a>
            </div>
            <!-- 会员左侧 -->
            <div class="member-left">
                <dl>
                    <dt>会员中心</dt>
                    <dd><a href="member-基本会员-基本信息.html" class="menuPro-first selected">基本信息</a></dd>
                    <dd><a href="member-基本会员-我的收藏.html" class="menuPro-first">我的收藏</a></dd>
                    <dd><a href="member-基本会员-我的关注.html" class="menuPro-first">我的关注</a></dd>
                    <dd><a href="member-基本会员-账户安全.html" class="menuPro-first">账户安全</a></dd>
                    <dd><a href="member-基本会员-我的积分.html" class="menuPro-first">我的积分</a></dd>
                    <dd><a href="member-基本会员-我的站内信.html" class="menuPro-first">我的站内信<span style="color:#b0e78e;">(8)</span></a>
                    </dd>
                    <dd><a href="member-升级会员.html" class="menuPro-first">升级会员</a></dd>
                    <dt>供应商管理</dt>
                    <dd><a href="member-供应商管理-我的资源单.html" class="menuPro-first">我的资源单</a></dd>
                    <dd><a href="member-供应商管理-我参与的竞价.html" class="menuPro-first">我参与的竞标</a></dd>
                    <dd><a href="member-供应商管理-我收到的订单.html" class="menuPro-first">我收到的订单</a></dd>
                    <dt>采购管理</dt>
                    <dd><a href="member-采购管理-我的采购单.html" class="menuPro-first">我的采购单</a></dd>
                    <dd><a href="member-采购管理-我的订单.html" class="menuPro-first">我的订单</a></dd>
                    <dt>托运管理</dt>
                    <dd><a href="javascript:;" class="menuPro-first">我要找车</a></dd>
                    <dd><a href="member-托运管理-我的托运信息.html" class="menuPro-first">我的托运信息</a></dd>
                    <dd><a href="member-托运管理-我的托运单.html" class="menuPro-first">我的托运单</a></dd>
                    <dd><a href="member-托运管理-我的托运单-使用过的承运商.html" class="menuPro-first">使用过的托运商</a></dd>
                    <dd><a href="member-托运管理-我的托运单-关注的承运商.html" class="menuPro-first">关注的承运商</a></dd>
                    <dt>承运管理</dt>
                    <dd><a href="member-承运管理-我的车辆.html" class="menuPro-first">我的车辆</a></dd>
                    <dd><a href="member-承运管理-我的路线.html" class="menuPro-first">我的路线</a></dd>
                    <dd><a href="member-承运管理-承运简介.html" class="menuPro-first">承运简介</a></dd>
                    <dd><a href="member-承运管理-我的网点.html" class="menuPro-first">我的网点</a></dd>
                    <dd><a href="member-承运管理-我参与的竞价.html" class="menuPro-first">我参与的竞价</a></dd>
                    <dd><a href="member-承运管理-我的承运单.html" class="menuPro-first">我的承运单</a></dd>
                </dl>
            </div>
            <!-- 会员右侧 -->
            <div class="member-right">
                <div class="member-main">
                    <!-- 基本资料 -->
                    <div class="member-column">
                        <!-- 专属交易员 -->
                        <div class="member-exclusive">
                            <div class="exclusive-tit">我的专属交易员</div>
                            <div class="exclusive-con">
                                <div class="exclusive-area">华南区--张三</div>
                                <div class="exclusive-tel">1345678910123</div>
                                <a href="javascript:;" class="exclusive-qq"><img src="images/member-qq.png" alt=""></a>
                            </div>
                        </div>
                        <div class="member-tit"><p>基本资料</p></div>
                        <div class="member-con">
                            <div class="controls">
                                <p><span>*</span>用户名：</p>
                                <div class="basic-name" >{{user.username}}</div>
                            </div>
                            <div class="controls">
                                <p>昵称：</p>
                                <input type="text" class="input03 w250" v-model="user.nickname">
                            </div>
                            <div class="controls">
                                <p>头像：</p>
                                <div class="upload-controls">
                                    <div class="upload-controls">
                                        <div class="upload-img head-img"><img :src="user.image" alt=""></div>
                                        <input type="file" @change="uploadImage($event)" value="点击上传" class="w100" accept="image/gif,image/jpeg,image/jpg,image/png">
                                    </div>
                                </div>
                                <div class="tip">
                                    <em>1、上传文件要求为清晰照片；尺寸为正方形</em>
                                    <em>2、照片要求格式为jpg、jpeg、gif或png，大小不要超过3M。</em>
                                </div>
                            </div>
                            <div class="controls">
                                <p>手机号：</p>
                                <div class="basic-tel">{{user.phone}}</div>
                                <a class="change-tel" href="javascript:;">更改手机</a>
                            </div>
                            <div class="controls">
                                <p>邮箱：</p>
                                <input type="text" class="input03 w250" v-model="user.email">
                            </div>
                            <div class="controls">
                                <p>地区：</p>
                                <select class="selectpicker" data-width="252" v-model="user.cityid">
                                    <option value="0">请选择</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                </select>
                            </div>
                            <div class="controls">
                                <p>详细地址：</p>
                                <input type="text" class="input03 w450" v-model="user.address">
                            </div>
                            <input type="submit" value="保存" @click="changeUserInfo" class="btn01 submit">
                        </div>
                    </div>
                    <!-- 银行账户信息 -->
                    <div class="member-column">
                        <div class="member-tit">
                            <p>银行账户信息</p>
                            <a href="javascript:;">为什么需要填正确的银行帐号信息？​</a>
                        </div>
                        <div class="member-con">
                            <form action="#" class="member-form">
                                <div class="controls">
                                    <p>户名：</p>
                                    <input type="text" class="input03 w250">
                                </div>
                                <div class="controls">
                                    <p>开户行：</p>
                                    <input type="text" class="input03 w250">
                                </div>
                                <div class="controls">
                                    <p>银行账号：</p>
                                    <input type="text" class="input03 w250">
                                </div>
                                <div class="controls">
                                    <div class="bound-tel">当前绑定手机：<span>18911111111</span></div>
                                    <input type="button" value="获取验证码" class="btn06 w125">
                                </div>
                                <div class="controls">
                                    <p>验证码：</p>
                                    <input type="text" class="input03 w250">
                                </div>
                                <input type="submit" value="提交修改" class="btn01 submit">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--网站底部-->
    <footer>
        <div class="footer-top">
            <div class="container">
                <div class="footer-left">
                    <div class="footer-logo"><img src="images/logo.png" alt=""/></div>
                    <div class="footer-tel">
                        <h6>服务热线：</h6>
                        <p>400-888-8888</p>
                    </div>
                </div>
                <div class="footer-nav">
                    <dl style="background: url(images/footer-icon01.png) no-repeat top left;">
                        <dt><a href="javascript:;">购物指南</a></dt>
                        <dd><a href="">购物流程</a><a href="">订货方式</a><a href="">联系客服</a><a href="">交易条款</a></dd>
                    </dl>
                    <dl style="background: url(images/footer-icon02.png) no-repeat top left;">
                        <dt><a href="javascript:;">支付方式</a></dt>
                        <dd><a href="">银行付款</a><a href="">在线支付</a><a href="">组合支付</a></dd>
                    </dl>
                    <dl style="background: url(images/footer-icon03.png) no-repeat top left;">
                        <dt><a href="javascript:;">物流帮助</a></dt>
                        <dd><a href="">如何找车</a><a href="">常见问题</a><a href="">运送流程</a></dd>
                    </dl>
                    <dl style="background: url(images/footer-icon04.png) no-repeat top left;">
                        <dt><a href="javascript:;">售后服务</a></dt>
                        <dd><a href="">售后服务总则</a><a href="">服务政策</a></dd>
                    </dl>
                    <dl style="background: url(images/footer-icon05.png) no-repeat top left;">
                        <dt><a href="javascript:;">帮助中心</a></dt>
                        <dd><a href="">网点分布</a><a href="">加盟商区</a></dd>
                    </dl>
                </div>
            </div>
        </div>
        <div class="copy">
            <div class="copy-nav">
                <a href="javascript:;">关于我们</a>
                <span>|</span>
                <a href="javascript:;">法律声明</a>
                <span>|</span>
                <a href="javascript:;">诚聘英才</a>
                <span>|</span>
                <a href="javascript:;">联系我们</a>
                <span>|</span>
                <a href="javascript:;">友情链接</a>
            </div>
            <p>Copyright <i class="fa fa-copyright"></i> 超鲜网 粤ICP备 13013915号-3 ICP证：粤B2-201401448</p>
        </div>
    </footer>
</div>

</body>
</html>

<script type="text/javascript" src="js/jquery-1.8.3.min.js"></script>
<script type="text/javascript" src="js/global.js"></script>
<script type="text/javascript" src="js/jquery.accordion.js"></script>
<script type="text/javascript" src="js/es5-shim.js"></script>
<script type="text/javascript" src="js/select.js"></script>

<script src="js/axios-0.18.0.js"></script>
<script src="js/vuejs-2.5.16.js"></script>
<script src="components/top.js"></script>
<script src="js/api.1.js"></script>

<script>
    new Vue({
        el: "#app",
        data:{
            user: {
                userId: 0,
                username: "",
                nickname: "",
                image: "1.jpg",
                phone: "",
                email: "",
                cityid: "",
                address: ""
            }
        },
        created: function(){
            this.user.phone = localStorage.getItem("phone")
            this.getUserByPhone(this.user);
        },
        methods: {
            uploadImage:function(e){
                //上传图片
                var _this = this;
                console.log(e)
                var file = e.target.files[0];

                // 创建form对象
                var formdata=new FormData();
                // 通过append向form对象添加数据,可以通过append继续添加数据
                formdata.append('file',file,file.name);
                let config = {
                    headers:{'Content-Type':'multipart/form-data'}
                };  //添加请求头
                console.log("uploadImage")
                uploadImage(formdata,config).then(res => {
                    var d = res.data.data;
                    var img = "/headicon/201907081037505034.jpg"
                    _this.user.image = d.image;

                });
                // axios.post('/xapi/upimage',formdata,config).then(response =>{   //这里的/xapi/upimage为接口
                //     console.log(response.data);
                //
                // });
                //var image = _this.getObjectURL(file);
                //_this.user.image = image;
            },
            getObjectURL:function (file) {
                //获取图片url
                var url = null ;
                if (window.createObjectURL!=undefined) { // basic
                    url = window.createObjectURL(file) ;
                } else if (window.URL!=undefined) { // mozilla(firefox)
                    url = window.URL.createObjectURL(file) ;
                } else if (window.webkitURL!=undefined) { // webkit or chrome
                    url = window.webkitURL.createObjectURL(file) ;
                }
                return url ;
            },
            changeUserInfo:function () {
                changeUserInfo(this.user).then(res => {
                    var d = res.data.data;
                    console(d)
                    this.user = d.data
                    console.log(d)
                    if (d.errno == 0) {
                        localStorage.setItem("phone", this.user.phone)
                        localStorage.setItem("username", this.user.username)
                        localStorage.setItem("nickname", this.user.nickname)
                    } else {
                        alert("修改失败")
                    }
                })
            },
            getUserByPhone:function (user) {
                //根据手机获取用户信息
                getUserByPhone(user).then(res => {
                    var d = res.data.data;
                    console.log(d)
                    this.user = d.data
                    console.log(d)
                    if (d.errno == 0) {
                        localStorage.setItem("phone", this.user.phone)
                        localStorage.setItem("username", this.user.username)
                        if (this.user.nickname != null){
                            localStorage.setItem('nickname',this.user.nickname)
                        }
                    } else {
                        alert("修改失败")
                    }
                })
            }
        }

    })
</script>
