<!DOCTYPE html>
<html>

<head lang="en">
    <meta charset="UTF-8">
    <title>基本会员-基本信息</title>
    <link rel="stylesheet" href="css/public.css" />
    <link rel="stylesheet" href="css/page.css" />
    <link rel="stylesheet" href="css/member.css" />
    <link rel="stylesheet" href="css/banner.css" />
    <link rel="stylesheet" href="css/tab.css" />
    <link rel="stylesheet" href="css/table.css" />
    <link rel="stylesheet" href="css/select.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/font-awesome-ie7.css">

    <style type="text/css">
                .hw-overlay {
            display: none;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: #d39e00;
            z-index: 10;
        }

        .hw-layer-wrap {
            box-sizing: border-box;
            width: 570px;
            position: absolute;
            left: 50%;
            top: 50%;
            margin-left: -285px;
            border-radius: 3px;
            background-color: #fff;
            box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.12);
            padding: 45px 50px;
        }

        .hwLayer-close {
            position: absolute;
            right: 20px;
            top: 20px;
            width: 20px;
            height: 20px;
            cursor: pointer;
            font-size: 20px;
            color: #ccc;
        }

        .hw-layer-wrap .hw-icon {
            color: #b4d8f3;
            font-size: 86px;
            text-align: center;
        }

        .hw-layer-wrap h4 {
            margin: 5px 0 30px;
            font-size: 24px;
            color: #383c3e;
        }

        .hw-layer-wrap p {
            margin: 30px 0;
            line-height: 22px;
            color: #595d60;
            text-align: left;
        }

        @media (max-width: 768px) {
            .hw-layer-wrap {
                width: 350px;
                margin-left: -175px;
                margin-top: -200px;
                padding: 45px 50px;
                text-align: center;
            }
        }

        @media (max-width: 400px) {
            .hw-layer-wrap {
                width: 250px;
                margin-left: -125px;
                padding: 25px 30px;
            }
        }
    </style>

    <!--[if lt IE 10]>
    <script src="js/html5shiv.min.js"></script>
    <![endif]-->
</head>

<body>

    <div id="app">
        <!--网站顶部-->
        <div class="top">
            <div class="container">
                <topnav></topnav>
                <topright></topright>
            </div>
        </div>
        <!--网站头部-->
        <header>
            <div class="container">
                <a href="index.html" class="logo">
                    <img src="images/logo.png" alt="" />
                </a>
                <div class="search">
                    <div class="search-form">
                        <div class="input"><input type="text" /></div>
                        <div class="button">
                            <button type="submit"><i class="fa fa-search"></i></button>
                        </div>
                    </div>
                    <div class="search-list">
                        <a class="selected" href="javascript:;">A级牛肉</a>
                        <span>|</span>
                        <a href="javascript:;">进口猪肉</a>
                        <span>|</span>
                        <a href="javascript:;">A级排骨肉</a>
                        <span>|</span>
                        <a href="javascript:;">A级牛肉</a>
                        <span>|</span>
                        <a href="javascript:;">进口猪肉</a>
                        <span>|</span>
                        <a class="selected" href="javascript:;">A级排骨肉</a>
                    </div>
                </div>
                <div class="cart">购物车中<span>0</span>件</div>
            </div>
        </header>
        <!--网站导航-->
        <nav>
            <div class="container">
                <dl>
                    <classificationnav></classificationnav>
                    <dd><a class="selected" href="index.html">首页</a></dd>
                    <dd><a href="资源.html">资源</a></dd>
                    <dd><a href="采购.html">采购</a></dd>
                    <dd><a href="搜索.html">搜索</a></dd>
                    <dd><a href="物流.html">物流</a></dd>
                    <dd><a href="行情-实时成交价.html">行情</a></dd>
                    <dd><a href="积分商城.html">积分商城</a></dd>
                    <dd><a href="member-会员俱乐部.html">会员俱乐部</a></dd>
                </dl>
            </div>
        </nav>

        <!-- 内容主体区 -->
        <div class="content-main">
            <div class="container">
                <!-- 面包屑导航 -->
                <div class="bread-crumbs">
                    <a href="index.html">首页</a>
                    <span><i class="fa fa-angle-double-right"></i></span>
                    <a href="member-基本会员-基本信息.html">会员中心</a>
                    <span><i class="fa fa-angle-double-right"></i></span>
                    <a href="javascript:;" class="selected">基本信息</a>
                </div>
                <!-- 会员左侧 -->
                <div class="member-left">
                    <dl>
                        <dt>会员中心</dt>
                        <dd><a href="member-基本会员-基本信息.html" class="menuPro-first">基本信息</a></dd>
                        <dd><a href="member-基本会员-我的收藏.html" class="menuPro-first">我的收藏</a></dd>
                        <dd><a href="member-基本会员-我的关注.html" class="menuPro-first">我的关注</a></dd>
                        <dd><a href="member-基本会员-账户安全.html" class="menuPro-first">账户安全</a></dd>
                        <dd><a href="member-基本会员-我的积分.html" class="menuPro-first">我的积分</a></dd>
                        <dd><a href="member-基本会员-我的站内信.html" class="menuPro-first">我的站内信<span
                                    style="color:#b0e78e;">(8)</span></a></dd>
                        <dd><a href="member-升级会员.html" class="menuPro-first">升级会员</a></dd>
                        <dt>供应商管理</dt>
                        <dd><a href="member-供应商管理.html" class="menuPro-first selected">供应商管理</a></dd>
                        <dd><a href="member-供应商管理-我的资源单.html" class="menuPro-first">我的资源单</a></dd>
                        <dd><a href="member-供应商管理-我参与的竞价.html" class="menuPro-first">我参与的竞标</a></dd>
                        <dd><a href="member-供应商管理-我收到的订单.html" class="menuPro-first">我收到的订单</a></dd>
                        <dt>采购管理</dt>
                        <dd><a href="member-采购管理.html" class="menuPro-first">采购管理</a></dd>
                        <dd><a href="member-采购管理-我的采购单.html" class="menuPro-first">我的采购单</a></dd>
                        <dd><a href="member-采购管理-我的订单.html" class="menuPro-first">我的订单</a></dd>
                        <dt>托运管理</dt>
                        <dd><a href="member-托运管理.html" class="menuPro-first">托运管理</a></dd>
                        <dd><a href="javascript:;" class="menuPro-first">我要找车</a></dd>
                        <dd><a href="member-托运管理-我的托运信息.html" class="menuPro-first">我的托运信息</a></dd>
                        <dd><a href="member-托运管理-我的托运单.html" class="menuPro-first">我的托运单</a></dd>
                        <dd><a href="member-托运管理-我的托运单-使用过的承运商.html" class="menuPro-first">使用过的托运商</a></dd>
                        <dd><a href="member-托运管理-我的托运单-关注的承运商.html" class="menuPro-first">关注的承运商</a></dd>
                        <dt>承运管理</dt>
                        <dd><a href="member-承运管理-我的车辆.html" class="menuPro-first">我的车辆</a></dd>
                        <dd><a href="member-承运管理-我的路线.html" class="menuPro-first">我的路线</a></dd>
                        <dd><a href="member-承运管理-承运简介.html" class="menuPro-first">承运简介</a></dd>
                        <dd><a href="member-承运管理-我的网点.html" class="menuPro-first">我的网点</a></dd>
                        <dd><a href="member-承运管理-我参与的竞价.html" class="menuPro-first">我参与的竞价</a></dd>
                        <dd><a href="member-承运管理-我的承运单.html" class="menuPro-first">我的承运单</a></dd>
                    </dl>
                </div>
                <!-- 会员右侧 -->
                <div class="member-right">
                    <div class="member-main">
                        <!-- 基本资料 -->
                        <div class="member-column">
                            <!-- 专属交易员 -->
                            <div class="member-exclusive">
                                <div class="exclusive-tit">我的专属交易员</div>
                                <div class="exclusive-con">
                                    <div class="exclusive-area">华南区--张三</div>
                                    <div class="exclusive-tel">1345678910123</div>
                                    <a href="javascript:;" class="exclusive-qq"><img src="images/member-qq.png"
                                            alt=""></a>
                                </div>
                            </div>
                        </div>
                        <div class="member-tit"><p>基本资料</p></div>
                        <div class="member-con">
                            <div class="controls">
                                <p><span>*</span>用户名：</p>
                                <div class="basic-name">{{user.username}}</div>
                            </div>
                            <div class="controls">
                                <p>昵称：</p>
                                <input type="text" class="input03 w250" v-model="user.nickname">
                            </div>

                            <div class="controls">
                                <p>手机号：</p>
                                <div class="basic-tel">{{user.phone}}</div>
                                <input type="button" class="change-tel" id="btnShowDiv" @click="showDiv()"
                                       value="更改手机"/>
                            </div>
                            <div class="controls">
                                <p>邮箱：</p>
                                <input type="text" class="input03 w250" v-model="user.email">
                            </div>

                                <div class="controls">
                                    <p>详细地址：</p>

                                    <div id="r-result"><input type="text" id="suggestId" size="20"
                                            style="width:200px;height:50px" @mouseleave="leave()">


                                    </div>
                                    <input type="submit" value="保存" @click="changeUserInfo" class="btn01 submit">
                                </div>

                            </div>
                            <div class="controls">


                            </div>
                            <div class="controls">

                            </div>
                            <div class="controls">

                            </div>
                            <div class="controls">


                            </div>
                            <div class="controls">

                            </div>
                            <div class="controls">

                            </div>
                            <div class="controls">

                            </div>

                            <div class="hw-overlay" id="hw-layer" hidden>
                                <div class="hw-layer-wrap">
                                    <span class="glyphicon glyphicon-remove hwLayer-close"></span>
                                    <div class="row">
                                        <div class="col-md-3 col-sm-12 hw-icon">
                                            <i class="glyphicon glyphicon-info-sign"></i>
                                        </div>
                                        <div class="col-md-9 col-sm-12">
                                            <h4>修改手机</h4>
                                            <div class="controls">
                                                <p>手机号：</p>
                                                <input type="text" class="input03 w250" v-model="changePhone"/>
                                            </div>
                                            <button class="hwLayer-ok" @click="change()">确 定</button>
                                            <button class="hwLayer-cancel" @click="cancel()">取 消</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </div>
                    <!-- 银行账户信息 -->
                    <div class="controls">
                        <div class="member-tit">
                            <p>账户信息</p>

                        </div>
                        <div class="controls">
                            <form action="#" class="member-form">
                                <div class="controls">
                                    <p>户名：</p>
                                    <input type="text" class="input03 w250" v-model="user.householdName">
                                </div>
                                <div class="controls">
                                    <p>开户行：</p>
                                    <input type="text" class="input03 w250" v-model="user.openingBank">
                                </div>
                                <div class="controls">
                                    <p>银行账号：</p>
                                    <input type="text" class="input03 w250" v-model="user.bankAccount">
                                </div>
                                <div class="controls">
                                    <div class="bound-tel">当前绑定手机：<span>{{user.phone}}</span></div>
                                    <input type="button" value="获取验证码" class="btn06 w125" @click="sms3()"
                                        v-model="codeMsg" :disabled='disabled'>
                                </div>
                                <div class="controls">
                                    <p>验证码：</p>
                                    <input type="text" class="input03 w250" v-model="user.code">
                                </div>
                                <input type="submit" value="提交修改" class="btn01 submit" @click="saveBank()">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--网站底部-->
    <footer>
        <div class="footer-top">
            <div class="container">
                <div class="footer-left">
                    <div class="footer-logo"><img src="images/logo.png" alt="" /></div>
                    <div class="footer-tel">
                        <h6>服务热线：</h6>
                        <p>400-888-8888</p>
                    </div>
                </div>
                <div class="footer-nav">
                    <dl style="background: url(images/footer-icon01.png) no-repeat top left;">
                        <dt><a href="javascript:;">购物指南</a></dt>
                        <dd><a href="">购物流程</a><a href="">订货方式</a><a href="">联系客服</a><a href="">交易条款</a></dd>
                    </dl>
                    <dl style="background: url(images/footer-icon02.png) no-repeat top left;">
                        <dt><a href="javascript:;">支付方式</a></dt>
                        <dd><a href="">银行付款</a><a href="">在线支付</a><a href="">组合支付</a></dd>
                    </dl>
                    <dl style="background: url(images/footer-icon03.png) no-repeat top left;">
                        <dt><a href="javascript:;">物流帮助</a></dt>
                        <dd><a href="">如何找车</a><a href="">常见问题</a><a href="">运送流程</a></dd>
                    </dl>
                    <dl style="background: url(images/footer-icon04.png) no-repeat top left;">
                        <dt><a href="javascript:;">售后服务</a></dt>
                        <dd><a href="">售后服务总则</a><a href="">服务政策</a></dd>
                    </dl>
                    <dl style="background: url(images/footer-icon05.png) no-repeat top left;">
                        <dt><a href="javascript:;">帮助中心</a></dt>
                        <dd><a href="">网点分布</a><a href="">加盟商区</a></dd>
                    </dl>
                </div>
            </div>
        </div>
        <div class="copy">
            <div class="copy-nav">
                <a href="javascript:;">关于我们</a>
                <span>|</span>
                <a href="javascript:;">法律声明</a>
                <span>|</span>
                <a href="javascript:;">诚聘英才</a>
                <span>|</span>
                <a href="javascript:;">联系我们</a>
                <span>|</span>
                <a href="javascript:;">友情链接</a>
            </div>
            <p>Copyright <i class="fa fa-copyright"></i> 超鲜网 粤ICP备 13013915号-3 ICP证：粤B2-201401448</p>
        </div>
    </footer>
    </div>

</body>

</html>

<script type="text/javascript" src="js/jquery-1.8.3.min.js"></script>
<script type="text/javascript" src="js/global.js"></script>
<script type="text/javascript" src="js/jquery.accordion.js"></script>
<script type="text/javascript" src="js/es5-shim.js"></script>
<script type="text/javascript" src="js/select.js"></script>

<script src="js/axios-0.18.0.js"></script>
<script src="js/vuejs-2.5.16.js"></script>
<script src="components/top.js"></script>
<script src="components/top-right.js"></script>
<script src="components/classifications.js"></script>
<script src="js/api.1.js"></script>

<script>
    new Vue({
        el: "#app",
        data: {
            user: {
                username: "",
                nickname: "",
                image: "",
                phone: "",
                email: "",
                cityid: "",
                address: "",
                householdName: "",
                openingBank: "",
                bankAccount: "",
                code: ""
            },
            disabled: false,

            // 倒计时秒数
            time: 60,
            // 按钮上的文字
            codeMsg: '获取验证码',
            // 定时器
            timer: null,
            changePhone: ""
        },
        created: function () {
            //从浏览器本地取手机号
            this.user.phone = localStorage.getItem("phone")
            //根据手机号查询
            this.getUserByPhone(this.user);
        },
        methods: {
            //根据手机号修改用户信息
            changeUserInfo: function () {
                //校验手机号格式,必填无判空
                if (/0?(13|14|15|18|17)[0-9]{9}/.test(this.user.phone)) {
                } else {
                    alert("手机号格式有误,请重新输入")
                    this.user.phone = ""
                }
                //校验邮箱格式,为空不计
                if (this.user.email != null && this.user.email != "") {
                    if (/\w[-\w.+]*@([A-Za-z0-9][-A-Za-z0-9]+\.)+[A-Za-z]{2,14}/.test(this.user.email)) {
                    } else {
                        alert("邮箱格式有误,请重新输入")
                        this.user.email = ""
                    }
                    changeUserInfo(this.user).then(res => {
                            var d = res.data.data;
                            this.user = d.data
                            if (d.errno == 0) {
                                localStorage.setItem("phone", this.user.phone)
                                localStorage.setItem("username", this.user.username)
                                localStorage.removeItem("cart")
                                let returnURL = sessionStorage.getItem("returnURL")
                            } else {
                                alert("修改失败")
                            }
                        })
                }

            },
            getUserByPhone:function (user) {
                getUserByPhone(user).then(res => {
                    var d = res.data.data;
                    this.user = d.data
                    if (d.errno == 0) {
                        $("#suggestId").val(this.user.address);
                        localStorage.setItem("phone", this.user.phone)
                        localStorage.setItem("username", this.user.username)
                        if (this.user.nickname != null) {
                            localStorage.setItem('nickname', this.user.nickname)
                        }
                    } else {

                    }
                })
            },
            leave: function (value) {
                this.user.address = $("#suggestId").val();
            },
            sms3: function () {
                sendSms3(this.user).then(res => {
                    var d = res.data.data;
                    if (d.errno == 0) {
                        alert("发送成功,请注意查收")
                        //成功
                        //按钮不可以
                        this.disabled = true
                        //倒计时
                        // 验证码60秒倒计时
                        if (!this.timer) {
                            this.timer = setInterval(() => {
                                if (this.time > 0 && this.time <= 60) {
                                    this.time--;
                                    if (this.time !== 1) {
                                        this.codeMsg = "重新发送(" + this.time + ")秒";
                                    } else {
                                        clearInterval(this.timer);
                                        //重置按钮内容
                                        this.codeMsg = "获取验证码";
                                        //重置倒计时
                                        this.time = 60;
                                        //重置定时器
                                        this.timer = null;
                                        //恢复按钮状态
                                        this.disabled = false;
                                    }
                                }
                            }, 1000)
                        }

                    } else {
                        //失败
                        alert(d.errmsg)
                    }
                })
            },
            //保存银行账户信息
            saveBank: function () {
                if (/^[\u4E00-\u9FA5\uf900-\ufa2d·s]{2,20}$/.test(this.user.householdName)) {

                } else {
                    this.user.householdName = ""
                    alert("户名不符合规范")

                }
              if( /^([1-9]{1})(\d{14}|\d{18})$/.test(this.user.bankAccount)){

              }else{
                this.user.bankAccount = ""
                    alert("银行卡号不符合规范")
              }
                saveBank(this.user).then(res => {
                        if (res.data.data.errno == 0) {
                            var d = res.data.data;
                            this.user = d.data
                        } else {
                            alert("保存失败")
                        }
                    })
            },
            //弹窗
            showDiv: function () {
                $("#hw-layer").prop("hidden", false);
            },
            //关闭弹窗
            cancel: function () {
                $("#hw-layer").prop("hidden", true);
            },
            //将新的手机号赋值到user.phone中
            change: function () {
                this.user.phone = this.changePhone;
                $("#hw-layer").prop("hidden", true);
                this.changePhone = "";
            }
        }

    })
</script>

<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=4IU3oIAMpZhfWZsMu7xzqBBAf6vMHcoa">
</script>
<script type="text/javascript">

    var ac = new BMap.Autocomplete(    //建立一个自动完成的对象
        {
            "input": "suggestId"
        });

</script>
