<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>商品分类</title>
    <link rel="stylesheet" href="css/public.css"/>
    <link rel="stylesheet" href="css/page.css"/>
    <link rel="stylesheet" href="css/banner.css"/>
    <link rel="stylesheet" href="css/tab.css"/>
    <link rel="stylesheet" href="css/table.css"/>
    <link rel="stylesheet" href="css/select.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/font-awesome-ie7.css">

    <style>
        .clear {
            clear: left;
        }

        .markClassification {
        / / 用于标记右侧的三级分类

        }

        .markPlace {
        / / 用于标记产地

        }

        .markSecond {
        / / 用于标记左侧的二级分类

        }
    </style>

    <!--[if lt IE 10]>
    <script src="js/html5shiv.min.js"></script>
    <![endif]-->
</head>
<body>

<div id="app">
    <!--网站顶部-->
    <div class="top">
        <div class="container">
            <topnav></topnav>
            <topright></topright>
        </div>
    </div>
    <!--网站头部-->
    <header>
        <div class="container">
            <a href="index.html" class="logo">
                <img src="images/logo.png" alt=""/>
            </a>
            <div class="search">
                <div class="search-form">
                    <div class="input"><input type="text"/></div>
                    <div class="button">
                        <button type="submit"><i class="fa fa-search"></i></button>
                    </div>
                </div>
                <div class="search-list">
                    <a class="selected" href="javascript:;">A级牛肉</a>
                    <span>|</span>
                    <a href="javascript:;">进口猪肉</a>
                    <span>|</span>
                    <a href="javascript:;">A级排骨肉</a>
                    <span>|</span>
                    <a href="javascript:;">A级牛肉</a>
                    <span>|</span>
                    <a href="javascript:;">进口猪肉</a>
                    <span>|</span>
                    <a class="selected" href="javascript:;">A级排骨肉</a>
                </div>
            </div>
            <div class="cart">购物车中<span>0</span>件</div>
        </div>
    </header>
    <!--网站导航-->
    <nav>
        <div class="container">
            <dl>
                <dt>
                    <a class="pro-all" href="javascript:;">商品全部分类&nbsp;&nbsp;<i class="fa fa-sort-desc fa-caret-up"></i></a>
                    <ul>
                        <li class="pro-sort" v-for="classification1 in classifications">
                            <div class="sort-first">
                                <i class="fa fa-caret-right"></i>
                                <a class="tit" href="javascript:;">{{classification1.classificationName}}</a>
                                <div class="con">
                                    <a href="#" v-for="classification2 in classification1.classification">{{classification2.classificationName}}</a>
                                </div>
                            </div>
                            <div class="sort-second">

                                <div class="second-list" v-for="classification2 in classification1.classification">
                                    <a class="second-tit" href="#"
                                       @click="classificationFor(classification2.classificationName,2)">{{classification2.classificationName}}<i
                                            class="fa fa-angle-right"></i></a>
                                    <div class="second-con">

                                        <span v-if="classification2.classification != null">|</span>
                                        <span v-for="classification3 in classification2.classification">|
                                            <a href="#"
                                               @click="classificationFor(classification3.classificationName,3)">{{classification3.classificationName}}</a>
                                        </span>


                                    </div>
                                </div>

                                <a class="second-add" href="#"><img src="images/sort-add01.jpg" alt=""/></a>
                            </div>
                        </li>
                    </ul>
                </dt>
                <dd><a href="index.html">首页</a></dd>
                <dd><a class="selected" href="资源.html">资源</a></dd>
                <dd><a href="采购.html">采购</a></dd>
                <dd><a href="搜索.html">搜索</a></dd>
                <dd><a href="物流.html">物流</a></dd>
                <dd><a href="行情-实时成交价.html">行情</a></dd>
                <dd><a href="积分商城.html">积分商城</a></dd>
                <dd><a href="member-会员俱乐部.html">会员俱乐部</a></dd>
            </dl>
        </div>
    </nav>

    <!-- 内页banner -->
    <a class="banner-page" href="javascript:;" style=" background: url(images/banner-page01.jpg) no-repeat center"></a>
    <!-- 网站内容区 -->
    <div class="content">
        <div class="container">
            <!-- 面包屑导航 -->
            <div class="bread-crumbs">
                <a href="资源.html">资源</a>
                <span><i class="fa fa-angle-double-right"></i></span>
                <a href="javascript:;" class="selected">{{classification.classificationName}}</a>
            </div>
            <!-- 内容主体区 -->
            <div class="content-main">
                <!-- 左侧 -->
                <div class="search-left">
                    <dl>
                        <dt>{{classification.classificationName}}</dt>
                        <dd v-for="classification2 in classification.classification">
                            <a href="javascript:;" @click="markSecondClassification($event)" class="menuPro-first"
                               :class="classification2.classificationName == classificationSecond.classificationName?'selected':null">{{classification2.classificationName}}</a>
                        </dd>
                    </dl>
                    <a class="search-add" href="javascript:;">
                        <img src="images/search-add01.jpg" alt=""/>
                    </a>
                </div>
                <!-- 右侧 -->
                <div class="search-right">
                    <!-- 搜索列表 -->
                    <div class="search-form01">
                        <dl>
                            <dt>分类：</dt>
                            <dd>
                                <span @click="selectClassification($event)"
                                      v-for="(classification3,index) in classificationSecond.classification"
                                      :accessKey="index" class="markClassification"
                                      :class="commodity.commodity_name == classification3.classificationName?'selected':null">
                                    {{classification3.classificationName}}
                                </span>
                            </dd>
                        </dl>
                        <dl>
                            <dt>产地：</dt>
                            <dd>
                                <span class="markPlace" @click="selectPlace($event)">欧洲</span>
                                <span class="markPlace" @click="selectPlace($event)">美国</span>
                                <span class="markPlace" @click="selectPlace($event)">中国</span>
                                <span class="markPlace" @click="selectPlace($event)">澳大利亚</span></dd>
                        </dl>
                        <dl>
                            <dt>检索：</dt>
                            <dd>
                                <label>
                                    <p>公司名称：</p>
                                    <input type="text" v-model="commodity.company.companyName" class="input02 w125"/>
                                </label>
                                <label>
                                    <p>级别：</p>
                                    <select v-model="commodity.commodityLevel" class="w125">
                                        <option value="A级">A级</option>
                                        <option value="B级">B级</option>
                                        <option value="C级">C级</option>
                                        <option value="D级">D级</option>
                                    </select>
                                </label>
                                <label>
                                    <p>仓库：</p>
                                    <input type="text" v-model="commodity.commodityWarehouse" class="input02 w350"/>
                                </label>
                                <div class="clear"></div>
                                <label>
                                    <p>期/现货：</p>
                                    <select class="w125" v-model="commodity.commoditySport">
                                        <option value="期货">期货</option>
                                        <option value="现货">现货</option>
                                    </select>
                                </label>
                                <label>
                                    <p>规则型号：</p>
                                    <select v-model="commodity.commoditySpecification" class="w125">
                                        <option value="80g">80g</option>
                                        <option value="100g">100g</option>
                                        <option value="120g">120g</option>
                                        <option value="150g">150g</option>
                                        <option value="180g">180g</option>
                                    </select>
                                </label>
                                <div class="search-btn">
                                    <input type="submit" @click="searchCommoditys()" class="search" value="检索">
                                </div>
                            </dd>
                        </dl>
                    </div>
                    <!-- 搜索表格 -->
                    <div class="search-table">
                        <table>
                            <thead>
                            <tr>
                                <th>产品名称</th>
                                <th>产地</th>
                                <th>规格型号</th>
                                <th>级别</th>
                                <th>数量(KG)</th>
                                <th>单价</th>
                                <th>货币</th>
                                <th>期/现货</th>
<!--                                <th style="width:170px">供应商</th>-->
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr v-for="(commodity,index) in commoditys" :accessKey="index">
                                <td>{{commodity.commodityName}}</td>
                                <td>{{commodity.commodityPlace}}</td>
                                <td>{{commodity.commoditySpecification}}</td>
                                <td>{{commodity.commodityLevel}}</td>
                                <td>{{commodity.commodityQuantity}}</td>
                                <td>{{commodity.commodityPrice}}</td>
                                <td>{{commodity.commodityCurrency}}</td>
                                <td>{{commodity.commoditySport}}</td>
<!--                                <td>{{commodity.companys[0].companyName}}</td>-->
                                <td>
                                    <a class="btn04" href="javascript:;">查看详情</a>
                                    <a class="btn04" href="javascript:;">加入购物车</a>
                                    <a class="btn04" href="javascript:;">收藏</a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--网站底部-->
    <footer>
        <div class="footer-top">
            <div class="container">
                <div class="footer-left">
                    <div class="footer-logo"><img src="images/logo.png" alt=""/></div>
                    <div class="footer-tel">
                        <h6>服务热线：</h6>
                        <p>400-888-8888</p>
                    </div>
                </div>
                <div class="footer-nav">
                    <dl style="background: url(images/footer-icon01.png) no-repeat top left;">
                        <dt><a href="javascript:;">购物指南</a></dt>
                        <dd><a href="">购物流程</a><a href="">订货方式</a><a href="">联系客服</a><a href="">交易条款</a></dd>
                    </dl>
                    <dl style="background: url(images/footer-icon02.png) no-repeat top left;">
                        <dt><a href="javascript:;">支付方式</a></dt>
                        <dd><a href="">银行付款</a><a href="">在线支付</a><a href="">组合支付</a></dd>
                    </dl>
                    <dl style="background: url(images/footer-icon03.png) no-repeat top left;">
                        <dt><a href="javascript:;">物流帮助</a></dt>
                        <dd><a href="">如何找车</a><a href="">常见问题</a><a href="">运送流程</a></dd>
                    </dl>
                    <dl style="background: url(images/footer-icon04.png) no-repeat top left;">
                        <dt><a href="javascript:;">售后服务</a></dt>
                        <dd><a href="">售后服务总则</a><a href="">服务政策</a></dd>
                    </dl>
                    <dl style="background: url(images/footer-icon05.png) no-repeat top left;">
                        <dt><a href="javascript:;">帮助中心</a></dt>
                        <dd><a href="">网点分布</a><a href="">加盟商区</a></dd>
                    </dl>
                </div>
            </div>
        </div>
        <div class="copy">
            <div class="copy-nav">
                <a href="javascript:;">关于我们</a>
                <span>|</span>
                <a href="javascript:;">法律声明</a>
                <span>|</span>
                <a href="javascript:;">诚聘英才</a>
                <span>|</span>
                <a href="javascript:;">联系我们</a>
                <span>|</span>
                <a href="javascript:;">友情链接</a>
            </div>
            <p>Copyright <i class="fa fa-copyright"></i> 超鲜网 粤ICP备 13013915号-3 ICP证：粤B2-201401448</p>
        </div>
    </footer>
</div>

</body>
</html>

<script type="text/javascript" src="js/jquery-1.8.3.min.js"></script>
<script type="text/javascript" src="js/jquery.SuperSlide.2.1.1.js"></script>
<script type="text/javascript" src="js/global.js"></script>
<script type="text/javascript" src="js/jquery.accordion.js"></script>
<!--<script type="text/javascript" src="js/jquery.selectBox.js"></script>-->

<script src="js/axios-0.18.0.js"></script>
<script src="js/vuejs-2.5.16.js"></script>
<script src="components/top.js"></script>
<script src="components/top-right.js"></script>
<script src="js/api.1.js"></script>

<script>
    new Vue({
        el: "#app",
        data: {
            classifications: [],
            classification: {},   //当前的一级分类对象
            classificationSecond: {},   //当前二级分类对象
            classificationThird: {},    //当前选中的三级分类对象
            classificationNameSelect: "",
            classificationLevel: 0,
            commodity: {             //订单查询对象
                commodityName: "",   //商品名称
                commodityPlace: "",  //商品产地
                commodityLevel: "",  //商品级别
                commodityWarehouse: "",   //商品仓库
                commoditySport: "",    //期现货
                commoditySpecification: "",   //商品规格
                company: {
                    companyName:''
                }
            },
            commoditys: [       //订单列表

            ]

        },
        methods: {
            //搜索资源单
            searchCommoditys: function () {
                var _this = this
                console.log(_this.commodity)
                searchCommoditys(_this.commodity).then(res => {
                    console.log(res.data.data)
                    _this.commoditys = res.data.data.data;
                    console.log(_this.commoditys)
                });
            },
            //设置选中的商品二级分类的样式
            markSecondClassification: function (e) {
                var _this = this

                $(".menuPro-first").each(function (i, v) {
                    var classes = v.getAttribute("class")
                    if (classes.indexOf("selected") != -1) {
                        v.classList.remove("selected")
                    }
                })
                var elem = e.target;
                //给dom对象追加样式，不会覆盖原来的样式
                elem.classList.add("selected")
                //遍历当前一级分类的二级分类，将选中的二级分类找出来，并且将其保存到localStorage中。
                _this.classification.classification.forEach(function (item) {
                    if (item.classificationName == elem.innerHTML) {
                        _this.classificationSecond = item;
                        localStorage.setItem("classificationNameSelect", item.classificationName);
                    }
                })
            },
            //设置选中的商品三级分类的样式，并将选中的值赋给commodity.commodity_name，作为查询的参数
            selectClassification: function (e) {
                //根据class获取一组dom，遍历将原来的选中的分类的样式去除
                $(".markClassification").each(function (i, v) {
                    var classes = v.getAttribute("class")
                    if (classes.indexOf("selected") != -1) {
                        v.classList.remove("selected")
                    }
                })
                var elem = e.target;
                //给dom对象追加样式，不会覆盖原来的样式
                elem.classList.add("selected")
                this.commodity.commodityName = elem.innerHTML.trim();
            },
            //设置选中的商品产地的的样式
            selectPlace: function (e) {
                $(".markPlace").each(function (i, v) {
                    var classes = v.getAttribute("class")
                    if (classes.indexOf("selected") != -1) {
                        v.classList.remove("selected")
                    }
                })
                var elem = e.target;
                elem.classList.add("selected")
                this.commodity.commodityPlace = elem.innerHTML.trim();
            },
            classificationFor: function (classificationNameSelect, classificationLevel) {
                var _this = this;

                localStorage.setItem("classificationNameSelect", classificationNameSelect);
                localStorage.setItem("classificationLevel", classificationLevel);

                _this.classifications = JSON.parse(localStorage.getItem("classifications"));
                _this.classificationNameSelect = classificationNameSelect;
                _this.classificationLevel = classificationLevel;

                if (_this.classificationLevel == 3) {
                    for (let i = 0; i < _this.classifications.length; i++) {
                        var temp = 0;
                        var classification1 = _this.classifications[i];
                        for (let j = 0; j < classification1.classification.length; j++) {
                            var classification2 = classification1.classification[j];
                            for (let k = 0; k < classification2.classification.length; k++) {
                                var classification3 = classification2.classification[k];
                                if (classification3.classificationName == _this.classificationNameSelect) {
                                    _this.classification = classification1;
                                    _this.classificationSecond = classification2;
                                    temp = 1;
                                    break;
                                }
                            }
                            if (temp == 1) {
                                break;
                            }
                        }
                        if (temp == 1) {
                            break;
                        }
                    }

                    _this.commodity.commodityName = _this.classificationNameSelect;
                    _this.searchCommoditys();
                    _this.commodity.commodityName = "";
                } else {
                    for (let i = 0; i < _this.classifications.length; i++) {
                        var temp = 0;
                        var classification1 = _this.classifications[i];
                        for (let j = 0; j < classification1.classification.length; j++) {
                            var classification2 = classification1.classification[j];
                            if (classification2.classificationName == _this.classificationNameSelect) {
                                _this.classification = classification1;
                                _this.classificationSecond = classification2;
                                temp = 1;
                                break;
                            }
                        }
                        if (temp == 1) {
                            break;
                        }
                    }
                }
            }
        },
        created: function () {
            var _this = this

            _this.classificationNameSelect = localStorage.getItem("classificationNameSelect");
            _this.classificationLevel = localStorage.getItem("classificationLevel");

            _this.classificationFor(_this.classificationNameSelect, _this.classificationLevel);
        }
    })
</script>

<script type="text/javascript">
    jQuery("#bannerIndex").slide({mainCell: ".bd ul", autoPlay: true});
    jQuery(".banner-quotes01").each(function () {
        $(this).slide({mainCell: ".bd ul", autoPlay: false});
    });
    jQuery(".banner-quotes02").each(function () {
        $(this).slide({mainCell: ".bd ul", autoPlay: false});
    });
    jQuery(".txtScroll-top").slide({
        titCell: ".hd ul",
        mainCell: ".bd ul",
        autoPage: true,
        effect: "top",
        autoPlay: true,
        vis: 13
    });
</script>
<script type="text/javascript">
    $(function () {
        $('dl#my-accordion').accordion({open: true});
    });
</script>