<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>采购-发布采购单</title>
    <link rel="stylesheet" href="css/public.css"/>
    <link rel="stylesheet" href="css/page.css"/>
    <link rel="stylesheet" href="css/member.css"/>
    <link rel="stylesheet" href="css/banner.css"/>
    <link rel="stylesheet" href="css/tab.css"/>
    <link rel="stylesheet" href="css/table.css"/>
    <link rel="stylesheet" href="css/select.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/font-awesome-ie7.css">
    <style>
        .ooo{

        }
    </style>
    <!--[if lt IE 10]>
    <script src="js/html5shiv.min.js"></script>
    <![endif]-->
</head>
<body>

<div id="app">
    <!--网站顶部-->
    <div class="top">
        <div class="container">
            <topnav></topnav>
            <topright></topright>
        </div>
    </div>
    <!--网站头部-->
    <header>
        <div class="container">
            <a href="index.html" class="logo">
                <img src="images/logo.png" alt=""/>
            </a>
            <div class="search">
                <div class="search-form">
                    <div class="input"><input type="text"/></div>
                    <div class="button">
                        <button type="submit"><i class="fa fa-search"></i></button>
                    </div>
                </div>
                <div class="search-list">
                    <a class="selected" href="javascript:;">A级牛肉</a>
                    <span>|</span>
                    <a href="javascript:;">进口猪肉</a>
                    <span>|</span>
                    <a href="javascript:;">A级排骨肉</a>
                    <span>|</span>
                    <a href="javascript:;">A级牛肉</a>
                    <span>|</span>
                    <a href="javascript:;">进口猪肉</a>
                    <span>|</span>
                    <a class="selected" href="javascript:;">A级排骨肉</a>
                </div>
            </div>
            <div class="cart">购物车中<span>0</span>件</div>
        </div>
    </header>
    <!--网站导航-->
    <nav>
        <div class="container">
            <dl>
                <classificationnav></classificationnav>
                <dd><a href="index.html">首页</a></dd>
                <dd><a href="资源.html">资源</a></dd>
                <dd><a class="selected" href="采购.html">采购</a></dd>
                <dd><a href="搜索.html">搜索</a></dd>
                <dd><a href="物流.html">物流</a></dd>
                <dd><a href="行情-实时成交价.html">行情</a></dd>
                <dd><a href="积分商城.html">积分商城</a></dd>
                <dd><a href="member-会员俱乐部.html">会员俱乐部</a></dd>
            </dl>
        </div>
    </nav>
    <!-- 内容主体区 -->
    <div class="content-main">
        <div class="container">
            <!-- 面包屑导航 -->
            <div class="bread-crumbs">
                <a href="index.html">首页</a>
                <span><i class="fa fa-angle-double-right"></i></span>
                <a href="采购.html">采购</a>
                <span><i class="fa fa-angle-double-right"></i></span>
                <a href="javascript:;" class="selected">发布采购单</a>
            </div>
            <!-- 采购-发布采购单 -->
            <div id="caigou">
                <div class="member-tit">
                    <p>发布采购单</p>
                </div>
                <div class="proof">
                    <div class="member-right">
                        <div class="member-column">
                            <div class="controls">
                                <p>采购单名称：</p>
                                <input type="text" v-model="purchase.purchaseTitle" class="input03 w320" required/>
                            </div>
                            <div class="controls">
                                <p>采购物品：</p>
                                <input type="text" v-model="purchase.productName" class="input03 w320">
                            </div>
                            <div class="controls">
                                <p>产地要求：</p>
                                <select autocomplete="off" v-model="purchase.originRequirements" class="w320">
                                    <option value="请选择" selected="selected">请选择</option>
                                    <option value="欧洲">欧洲</option>
                                    <option value="中国">中国</option>
                                    <option value="美国">美国</option>
                                    <option value="澳大利亚">澳大利亚</option>
                                </select>
                            </div>
                            <div class="controls">
                                <p>规格型号：</p>
                                <select autocomplete="off" v-model="purchase.specificationType" class="w320">
                                    <option value="请选择" selected="selected">请选择</option>
                                    <option value="80g">80g</option>
                                    <option value="100g">100g</option>
                                    <option value="120g">120g</option>
                                    <option value="150g">150g</option>
                                    <option value="180g">180g</option>
                                </select>
                            </div>
                            <div class="controls">
                                <p>级别要求：</p>
                                <select autocomplete="off" v-model="purchase.level" class="w320">
                                    <option value="请选择" selected="selected">请选择</option>
                                    <option value="A级">A级</option>
                                    <option value="B级">B级</option>
                                    <option value="C级">C级</option>
                                    <option value="D级">D级</option>
                                </select>
                            </div>
                            <div class="controls">
                                <p>仓库要求：</p>
                                <input type="text" v-model="purchase.warehouse" class="input03 w320">
                            </div>
                            <div class="controls">
                                <p>期/现货：</p>
                                <select autocomplete="off" id="port" class="w320" v-model="purchase.purchaseSport">
                                    <option value="请选择" selected>请选择</option>
                                    <option value="现货">现货</option>
                                    <option value="期货">期货</option>
                                </select>
                            </div>
                            <div class="controls">
                                <p>价格要求：</p>
                                <input type="text" v-model="purchase.purchasePrice" class="input03 w320">
                                <i>元/千克</i>
                            </div>
                            <div class="controls">
                                <p>采购说明：</p>
                                <div class="method-edit">
                                    <textarea cols="60" v-model="purchase.procurementNotes" rows="20" ></textarea>
                                </div>
                            </div>
                            <div class="controls">
                                <p>付款方式：</p>
                                <select autocomplete="off" class="w320" v-model="purchase.paymentMethod">
                                    <option value="请选择" selected>请选择</option>
                                    <option value="预付款">预付款</option>
                                    <option value="货到付款">货到付款</option>
                                    <option value="30%定金70%交货时付">30%定金70%交货时付</option>
                                </select>
                            </div>
                            <div class="controls">
                                <p>发票类型：</p>
                                <div class="controls-radio">
                                    <input type="radio" v-model="purchase.invoiceType" name="radio02" value="普通发票" class="radio">
                                    <i>普通发票</i>
                                </div>
                                <div class="controls-radio">
                                    <input type="radio" v-model="purchase.invoiceType" name="radio02" value="增值税发票" class="radio">
                                    <i>增值税发票</i>
                                </div>
                            </div>
                            <div class="controls">
                                <p>收货地址：</p>
                                <input type="text" v-model="purchase.receivingAddress" class="input03 w320"/>
                            </div>
                            <div class="controls">
                                <p>采购截止时间：</p>
                                <input type="datetime-local" id="time1" class="input03 w320">
                            </div>
                        </div>
                        <div class="member-column">
                            <div class="member-subtit">联系方式</div>
                            <div class="controls">
                                <p>联系人：</p>
                                <input type="text" v-model="purchase.contactPeople" class="input03 w320">
                            </div>
                            <div class="controls">
                                <p>公司名称：</p>
                                <input type="text" v-model="purchase.companyName" class="input03 w320">
                            </div>
                            <div class="controls">
                                <p>手机号：</p>
                                <input type="text" v-model="purchase.phone" class="input03 w320">
                            </div>
                            <input type="button" class="btn01 submit w155" @click="releasePurchase()" value="发布采购单">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--网站底部-->
    <footer>
        <div class="footer-top">
            <div class="container">
                <div class="footer-left">
                    <div class="footer-logo"><img src="images/logo.png" alt=""/></div>
                    <div class="footer-tel">
                        <h6>服务热线：</h6>
                        <p>400-888-8888</p>
                    </div>
                </div>
                <div class="footer-nav">
                    <dl style="background: url(images/footer-icon01.png) no-repeat top left;">
                        <dt><a href="javascript:;">购物指南</a></dt>
                        <dd><a href="">购物流程</a><a href="">订货方式</a><a href="">联系客服</a><a href="">交易条款</a></dd>
                    </dl>
                    <dl style="background: url(images/footer-icon02.png) no-repeat top left;">
                        <dt><a href="javascript:;">支付方式</a></dt>
                        <dd><a href="">银行付款</a><a href="">在线支付</a><a href="">组合支付</a></dd>
                    </dl>
                    <dl style="background: url(images/footer-icon03.png) no-repeat top left;">
                        <dt><a href="javascript:;">物流帮助</a></dt>
                        <dd><a href="">如何找车</a><a href="">常见问题</a><a href="">运送流程</a></dd>
                    </dl>
                    <dl style="background: url(images/footer-icon04.png) no-repeat top left;">
                        <dt><a href="javascript:;">售后服务</a></dt>
                        <dd><a href="">售后服务总则</a><a href="">服务政策</a></dd>
                    </dl>
                    <dl style="background: url(images/footer-icon05.png) no-repeat top left;">
                        <dt><a href="javascript:;">帮助中心</a></dt>
                        <dd><a href="">网点分布</a><a href="">加盟商区</a></dd>
                    </dl>
                </div>
            </div>
        </div>
        <div class="copy">
            <div class="copy-nav">
                <a href="javascript:;">关于我们</a>
                <span>|</span>
                <a href="javascript:;">法律声明</a>
                <span>|</span>
                <a href="javascript:;">诚聘英才</a>
                <span>|</span>
                <a href="javascript:;">联系我们</a>
                <span>|</span>
                <a href="javascript:;">友情链接</a>
            </div>
            <p>Copyright <i class="fa fa-copyright"></i> 超鲜网 粤ICP备 13013915号-3  ICP证：粤B2-201401448</p>
        </div>
    </footer>
</div>

</body>
</html>

<script type="text/javascript" src="js/jquery-1.8.3.min.js"></script>
<script type="text/javascript" src="js/global.js"></script>
<script type="text/javascript" src="js/jquery.accordion.js"></script>
<!--<script type="text/javascript" src="js/jquery.selectBox.js"></script>-->

<script src="js/axios-0.18.0.js"></script>
<script src="js/vuejs-2.5.16.js"></script>
<script src="components/top.js"></script>
<script src="components/top-right.js"></script>
<script src="components/classifications.js"></script>
<script src="js/api.1.js"></script>

<script>
    new Vue({
        el: "#app",
        data:{
            purchase:{
                purchaseTitle:"",
                productName:"",
                originRequirements:"请选择",
                specificationType:"请选择",
                level:"请选择",
                warehouse:"",
                purchaseSport:"请选择",
                purchasePrice:"",
                procurementNotes:"",
                paymentMethod:"请选择",
                invoiceType:"普通发票",
                receivingAddress:"",
                procurementDeadline: "",
                contactPeople:"",
                companyName:"",
                phone:""
            }
        },
        methods:{
            releasePurchase: function () {
                var _this = this;

                _this.purchase.procurementDeadline = $("#time1").val()

                if(_this.purchase.purchaseTitle == ""){
                    alert("采购单名称不能为空")
                    return
                }
                if(_this.purchase.productName == ""){
                    alert("采购物品不能为空")
                    return
                }
                if(_this.purchase.purchasePrice == ""){
                    alert("价格不能为空")
                    return
                }
                if(_this.purchase.paymentMethod == "" || _this.purchase.paymentMethod == "请选择"){
                    alert("付款方式不能为空")
                    return
                }
                if(_this.purchase.receivingAddress == ""){
                    alert("收货地址不能为空")
                    return
                }
                if(_this.purchase.procurementDeadline == ""){
                    alert("采购截止时间不能为空")
                    return
                }
                if(_this.purchase.contactPeople == ""){
                    alert("联系人不能为空")
                    return
                }
                if(_this.purchase.phone == ""){
                    alert("手机号不能为空")
                    return
                }

                _this.purchase.procurementDeadline = this.dateToString(_this.purchase.procurementDeadline);

                console.log(_this.purchase)
                releasePurchase(_this.purchase).then(res => {
                    console.log(res.data.data)
                })
            },
            dateToString: function(now) {
                var date = new Date(now);
                Y = date.getFullYear() + '-';
                M = date.getMonth() + 1 < 10 ? '0' + (date.getMonth() + 1) + '-' : date.getMonth() + 1 + '-';
                D = date.getDate() < 10 ? '0' + date.getDate() + ' ' : date.getDate() + ' ';
                h = date.getHours() < 10 ? '0' + date.getHours() + ':' : date.getHours() + ':';
                m = date.getMinutes() < 10 ? '0' + date.getMinutes() + ':' : date.getMinutes() + ':';
                s = date.getSeconds() < 10 ? '0' + date.getSeconds() : date.getSeconds();
                return Y + M + D + h + m + s;
            },
        },
        created(){

        }
    })
</script>
